@for $i from 1 through 200 {
  .m-#{$i} {
    margin: ($i*1)+px;
  }

  .m-t-#{$i} {
    margin-top: ($i*1)+px;
  }

  .m-b-#{$i} {
    margin-bottom: ($i*1)+px;
  }

  .m-l-#{$i} {
    margin-left: ($i*1)+px;
  }

  .m-r-#{$i} {
    margin-right: ($i*1)+px;
  }

  .p-#{$i} {
    padding: ($i*1)+px;
  }

  .p-t-#{$i} {
    padding-top: ($i*1)+px;
  }

  .p-b-#{$i} {
    padding-bottom: ($i*1)+px;
  }

  .p-l-#{$i} {
    padding-left: ($i*1)+px;
  }

  .p-r-#{$i} {
    padding-right: ($i*1)+px;
  }

  .fz-#{$i} {
    font-size: ($i*1)+px;
  }

}

.bg {
  background-color: #fff;
}

// 火柴棍 
.match {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 56px;
  background-color: #f0f0f0;
}

// 国际手势

.hand {
  cursor: pointer;
}

.f {
  float: left;
}

.r {
  float: right;
}


/*视图面板样式*/
.dr-viewer {
  height: 100%;
  overflow: auto;
  form {
    height: 100%;
  }
}

/*蒙版*/
.mask {
  position: relative;
}

.mask::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 14px;
  left: 0;
  right: 0;
  z-index: 100;
}


/*空白时显示拖拽提示*/
.dr-empty::before {
  content: '请拖入组件';
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #e5e5e5;
  z-index: -1;
}

.dr-area {
  min-height: 25px;
  outline: 1px dashed #95a3b7;
  width: 100%;
  > .a-col {
    padding: 4px 0;
    > section {
      min-height: 25px;
      outline: 2px dashed #95a3b7;
      height: 100%;
    }
  }
  > div > .a-form-item {
    margin-bottom: 14px;
    width: calc(100% - 10px);
    > .a-form-item__label, >.a-form-item__content {
      line-height: 20px;
    }
  }
}


