@import './variables.scss';
@import './imixin.scss';
@import './transtiton.scss';
@import './sidebar.scss';
@import './theme.scss';

body {
   height: 100%;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
   -moz-user-select: none;
   /*火狐*/
   /*选中文字时避免出现蓝色背景*/
   -webkit-user-select: none;
   /*webkit浏览器*/
   /*选中文字时避免出现蓝色背景*/
   -ms-user-select: none;
   /*IE10*/
   /*选中文字时避免出现蓝色背景*/
   user-select: none;
   /*选中文字时避免出现蓝色背景*/

 }

 body {
  &.colorWeak {
    filter: invert(85%);
    overflow: hidden;
    .fixed-header + .appMain {
      background-color: #fff;
    }
    .app-wrapper,.bluePlan-container{
      background-color: #fff;
    }
  }
  &.userLayout {
    overflow: auto;
  }
}

 html {
   height: 100%;
  
   box-sizing: border-box;
 }

 //public style
 .fl {
   float: left;
 }

 .fr {
   float: right;
 }

 .pr-5 {
   padding-right: 5px;
 }

 .pl-5 {
   padding-left: 5px;
 }

 .block {
   display: block;
 }

 .pointer {
   cursor: pointer;
 }

 #app {
   height: 100%;
 }

 .clearfix {
   &:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
   }
 }

 .bgsytle{
   background-color: #fff;
   padding: 20px;
 }

 //全局样式
 .bluePlan-container {
   padding: 10px;
   background: rgb(240 242 245);
   padding-top: 50px;
   overflow: hidden;
 }