#app {
    .blueplan-container {
        min-height: 100%;
        transition: margin-left .28s;
        margin-left: $sideBarWidth;
        position: relative;

    }


    .app-wrapper {
        .sidebar-container {
            transition: width 0.28s;
            width: $sideBarWidth !important;
            height: 100%;
            font-size: 0;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 666;
            overflow: hidden;

            & ul {
                width: $sideBarWidth !important;
                border-right: 1px solid #e8e8e8;
                height: 100%;
                overflow: hidden;

                span {
                    a {
                        width: 100px;
                    }
                }
            }
        }
    }

    .hideSidebar {
        .sidebar-container {
            width: 54px !important;

            & ul {
                width: 54px !important;
                overflow: hidden;
            }
        }



        .blueplan-container {
            margin-left: 54px;
        }

        .a-menu-inline {
            padding: 0 !important;
            position: relative;

            .ant-tooltip-open {
                padding: 0 !important;

                .svg-icon {
                    margin-left: 20px;
                }

            }
        }

    }

    //icon bug
    .ant-menu-inline-collapsed>.ant-menu-item,
    .ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item,
    .ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title,
    .ant-menu-inline-collapsed>.ant-menu-submenu>>>.ant-menu-submenu-title {
        padding: 0 !important;
    }

}