#app {
    .blueplan-container {
        min-height: 100%;
        position: relative;

    }


        .sidebar-container {
            transition: width 0.28s;
            height: 100%;
            overflow-x: hidden;

         
        }

    .hideSidebar {
        .sidebar-container {
            width: 54px !important;

            & ul {
                width: 54px !important;
                overflow: hidden;
            }
        }



        .blueplan-container {
            margin-left: 54px;
        }

        .a-menu-inline {
            padding: 0 !important;
            position: relative;

            .ant-tooltip-open {
                padding: 0 !important;

                .svg-icon {
                    margin-left: 20px;
                }

            }
        }

    }

    

}